In [1]:
import pandas as pd

In [3]:
data= pd.read_csv(r"D:\AI/project/final_cleaned_dataset.csv")

In [5]:
df=pd.DataFrame(data)

In [7]:
df

,Source.Name,head,flow,stage,PGV1,PGV2,PGV3,ATB1,ATB2,freq
0,h12_BEP_1.csv,h12,BEP,1,0.075080,0.069780,0.071652,0.019843,0.019869,0.000
1,h12_BEP_1.csv,h12,BEP,1,0.035517,0.030737,0.033031,0.007954,0.003933,0.625
2,h12_BEP_1.csv,h12,BEP,1,0.021976,0.018826,0.018840,0.001609,0.001158,1.250
3,h12_BEP_1.csv,h12,BEP,1,0.008289,0.007514,0.008430,0.000729,0.000941,1.875
4,h12_BEP_1.csv,h12,BEP,1,0.010160,0.007558,0.007065,0.000369,0.000513,2.500
...,...,...,...,...,...,...,...,...,...,...
737275,h30_PL_9.csv,h30,PL,9,-0.001433,-0.001012,-0.001005,-0.000083,-0.000057,2556.875
737276,h30_PL_9.csv,h30,PL,9,-0.001460,-0.001008,-0.001019,-0.000081,-0.000074,2557.500
737277,h30_PL_9.csv,h30,PL,9,-0.001353,-0.001051,-0.001033,-0.000084,-0.000076,2558.125
737278,h30_PL_9.csv,h30,PL,9,-0.001493,-0.001071,-0.001025,-0.000074,-0.000069,2558.750
737279,h30_PL_9.csv,h30,PL,9,-0.001516,-0.001098,-0.001008,-0.000060,-0.000076,2559.375

In [9]:
df.drop(['Source.Name','head','flow'],axis=1,inplace=True)

In [11]:
df.describe()

,stage,PGV1,PGV2,PGV3,ATB1,ATB2,freq
count,737280.000000,737280.000000,737280.000000,737280.000000,7.372800e+05,737280.000000,737280.000000
mean,5.000000,0.000021,0.000020,0.000020,8.305892e-07,0.000001,1279.687500
std,2.581991,0.006669,0.008782,0.008837,4.732527e-04,0.000295,739.008824
min,1.000000,-0.002387,-0.001938,-0.002046,-3.027470e-04,-0.000176,0.000000
25%,3.000000,-0.001014,-0.000849,-0.000808,-8.460722e-05,-0.000058,639.843750
50%,5.000000,-0.000560,-0.000516,-0.000536,-5.355965e-05,-0.000037,1279.687500
75%,7.000000,-0.000016,-0.000151,-0.000208,-1.527732e-05,-0.000009,1919.531250
max,9.000000,0.838566,1.081054,1.254364,5.068778e-02,0.030091,2559.375000

In [13]:
df.isnull().sum()

stage    0
PGV1     0
PGV2     0
PGV3     0
ATB1     0
ATB2     0
freq     0
dtype: int64

In [15]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import classification_report, accuracy_score
df

        stage      PGV1      PGV2      PGV3      ATB1      ATB2      freq
0           1  0.075080  0.069780  0.071652  0.019843  0.019869     0.000
1           1  0.035517  0.030737  0.033031  0.007954  0.003933     0.625
2           1  0.021976  0.018826  0.018840  0.001609  0.001158     1.250
3           1  0.008289  0.007514  0.008430  0.000729  0.000941     1.875
4           1  0.010160  0.007558  0.007065  0.000369  0.000513     2.500
...       ...       ...       ...       ...       ...       ...       ...
737275      9 -0.001433 -0.001012 -0.001005 -0.000083 -0.000057  2556.875
737276      9 -0.001460 -0.001008 -0.001019 -0.000081 -0.000074  2557.500
737277      9 -0.001353 -0.001051 -0.001033 -0.000084 -0.000076  2558.125
737278      9 -0.001493 -0.001071 -0.001025 -0.000074 -0.000069  2558.750
737279      9 -0.001516 -0.001098 -0.001008 -0.000060 -0.000076  2559.375

[737280 rows x 7 columns]

In [41]:
df_sampled = df.groupby('stage', group_keys=False).apply(
    lambda x: x.sample(frac=0.01, random_state=42)
).reset_index(drop=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_11132\387742719.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_sampled = df.groupby('stage', group_keys=False).apply(

In [43]:
print("Before sampling:")
print(df['stage'].value_counts())

print("\nAfter sampling:")
print(df_sampled['stage'].value_counts())

Before sampling:
stage
1    81920
2    81920
3    81920
4    81920
5    81920
6    81920
7    81920
8    81920
9    81920
Name: count, dtype: int64

After sampling:
stage
1    819
2    819
3    819
4    819
5    819
6    819
7    819
8    819
9    819
Name: count, dtype: int64

In [45]:
df_sampled

      stage      PGV1      PGV2      PGV3      ATB1      ATB2      freq
0         1 -0.001747 -0.000955 -0.000861 -0.000123 -0.000094  2473.750
1         1 -0.001320 -0.001194 -0.001159  0.000018 -0.000003  2371.250
2         1 -0.001189 -0.001132 -0.001246 -0.000015 -0.000123  2539.375
3         1 -0.000709 -0.000736 -0.000615 -0.000079 -0.000046  2010.000
4         1 -0.000415 -0.000600 -0.000627 -0.000069 -0.000024  1065.625
...     ...       ...       ...       ...       ...       ...       ...
7366      9 -0.000965 -0.000941 -0.000668 -0.000076 -0.000014  1963.750
7367      9 -0.001600 -0.000968 -0.000930 -0.000063 -0.000047  2212.500
7368      9  0.000022 -0.000224 -0.000077  0.000079  0.000303   907.500
7369      9 -0.000578 -0.000176 -0.000478 -0.000063  0.000011  1430.000
7370      9 -0.000897 -0.000784 -0.000776 -0.000083 -0.000032  1012.500

[7371 rows x 7 columns]

In [47]:
X=df[['PGV1','PGV2','PGV3','ATB1','ATB2','freq']]
y=df['stage']-1

In [49]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(X_train.dtypes)

PGV1    float64
PGV2    float64
PGV3    float64
ATB1    float64
ATB2    float64
freq    float64
dtype: object

In [ ]:
model = SVC(decision_function_shape='ovr')  # one-vs-rest for multiclass classification
model.fit(X_train, y_train)

In [ ]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
y_pred = grid_search.predict(X_test)

print("Accuracy: ", accuracy_score(y_test, y_pred))
print("Confusion Matrix: \n", confusion_matrix(y_test, y_pred))
print("Classification Report:\n, ", classification_report(y_test,y_pred))